
        #logo{
            height: 70px;
            width:80px;
            margin-right: auto;
          }
        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border: 1px solid black;
        }

        .button {
            background-color: var(--main-red);
            color: var(--main-white);
            padding: 8px 16px;
            border: none;
            cursor: pointer;
            font-family: 'Poppins',sans-serif;
        }

        .button:hover {
            background-color: maroon;
        }

        .nav {
            display: flex;
            justify-content: flex-end;
          
            top: 0;
            left: 0;
            width: 100%;
            background: var(--main-red);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
            z-index: 10;
          }
          
          .nav-list {
            display: flex;
            margin-right: 2rem;
          }
          
          @media (max-width: 28.75em) {
            .nav {
              justify-content: center;
            }
          
            .nav-list {
              margin: 0 1rem;
            }
          }
          
          .nav-list a {
            display: block;
            font-size: 2.2rem;
            padding: 2rem;
          }
          
          .nav-list a:hover {
            background: var(--main-blue);
          }
          @media (max-width: 75em) {
            html {
              font-size: 60%;
            }
          }
          
          /* 980px / 16px = 61.25em */
          @media (max-width: 61.25em) {
            html {
              font-size: 58%;
            }
          }
          
          /* 460px / 16px = 28.75em */
          @media (max-width: 28.75em) {
            html {
              font-size: 55%;
            }
          }
          
          /* Base styles */
          .container{
            border: 1px;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
            font-family: 'Poppins', sans-serif;
            padding: 5%;
            line-height: 1.4;
            font-size: medium;
            text-align: left;
            box-shadow: 1px 1px 25px #928383;
            font-weight: 100;
            backdrop-filter: blur(50px);
            font-size: 2rem;
          }


          body {
            background: url('old-fashioned-professional-tattooed-hairdresser-does-haircut-african-american-client-using-scissors-comb-isolated-dark-textured-background.jpg');
            background-size: cover;
            font-family: 'Poppins', sans-serif;
            font-size: 1.8rem; /* 18px */
            font-weight: 400;
            line-height: 1.4;
            color: var(--main-white);
          }
          
          h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            text-align: center;
            font-size: 6rem;
          }
          
          h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 3.2rem;
            font-weight: 600;
          }
          
          ul {
            list-style: none;
          }
          
          a {
            text-decoration: none;
            color: var(--main-white);
          }
          
          img {
            display: block;
            width: 100%;
          }
          .body1{
          background-image: url('AdobeStock_208719507_Preview.jpeg');
          }
          
          body {
            
            font-family: 'Poppins', sans-serif;
            font-size: 2rem; /* 18px */
            font-weight: 400;
            line-height: 1.4;
            color: var(--main-white);
          }

          /**/
          :root {
            --main-white: #f0f0f0;
            --main-red: #be3144;
            --main-blue: #45567d;
            --main-gray: #303841;
          }
          
          /* Base reset */
          * {
            margin: 0;
            padding: 0;
          }
          
          /* box-sizing and font sizing */
          *,
          *::before,
          *::after {
            box-sizing: inherit;
          }
          
          html {
            box-sizing: border-box;
          
            /* Set font size for easy rem calculations
             * default document font size = 16px, 1rem = 16px, 100% = 16px
             * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
            */
            font-size: 62.5%;
           
          }
