body{
    background: url('old-fashioned-professional-tattooed-hairdresser-does-haircut-african-american-client-using-scissors-comb-isolated-dark-textured-background.jpg') ;  /* fallback for old browsers */
    background-size: cover;
    
  }
  
 
  .container{
    border: 1px ; border-radius: 25px; 
      margin-left: auto; margin-right: auto; 
    background-color: transparent;
    backdrop-filter: blur(50px);
    position: relative;
    margin-right:auto;
    width: 50%;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      line-height: 1.4;
      font-size: medium;
      box-shadow: 1px 1px 25px #928383;
      padding: 5%;
  }
  
  
  .inputfield {
      width: auto;
      padding: 8px 2px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 15px;
      box-sizing: border-box;
      box-shadow: 1px 1px 3px #928383;
    }
  
  button {
      background-color: rgb(79, 79, 184);
      color: white;
      padding: 14px 25px;
      margin: 15px 0;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 1px 1px 3px #928383;
    }
    
  button:hover {
      background-color: rgb(49, 49, 114);
      box-shadow: 1px 1px 3px #928383;
    }
    #logo{
      height: 70px;
      width:80px;
      margin-right: auto;
    }
    .nav {
      display: flex;
      justify-content: flex-end;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--main-red);
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
      z-index: 10;
    }
    
    .nav-list {
      display: flex;
      margin-right: 2rem;
    }
    
    @media (max-width: 28.75em) {
      .nav {
        justify-content: center;
      }
    
      .nav-list {
        margin: 0 1rem;
      }
    }
    
    .nav-list a {
      color: var(--main-white);
      display: block;
      font-size: 2.2rem;
      padding: 2rem;
    }
    
    .nav-list a:hover {
      background: var(--main-blue);
    }
    @media (max-width: 75em) {
      html {
        font-size: 60%;
      }
    }
    
    /* 980px / 16px = 61.25em */
    @media (max-width: 61.25em) {
      html {
        font-size: 58%;
      }
    }
    
    /* 460px / 16px = 28.75em */
    @media (max-width: 28.75em) {
      html {
        font-size: 55%;
      }
    }
    
    /* Base styles */
    
    body {
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem; /* 18px */
      font-weight: 400;
      line-height: 1.4;
      color: var(--main-white);
    }
    
    h1{
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      text-align: center;
    }
    
    h1 {
      font-size: 5.5rem;
    }
    
    h2 {
      font-size: 3rem;
    }
    
    ul {
      list-style: none;
    }
    
    a {
      text-decoration: none;
      
    }
    
    img {
      display: block;
      width: 100%;
    }
    .body1{
    background-image: url('AdobeStock_208719507_Preview.jpeg');
    }
    
    body {
      background-color: darkgray;
      font-family: 'Poppins', sans-serif;
      font-size: 1.8rem; /* 18px */
      font-weight: 400;
      line-height: 1.4;
      color: var(--main-white);
    }
  
    /**/
    :root {
      --main-white: #f0f0f0;
      --main-red: #be3144;
      --main-blue: #45567d;
      --main-gray: #303841;
    }
    
    /* Base reset */
    * {
      margin: 0;
      padding: 0;
    }
    
    /* box-sizing and font sizing */
    *,
    *::before,
    *::after {
      box-sizing: inherit;
    }
    
    html {
      box-sizing: border-box;
      font-size: 62.5%;
     
    }

    .nav a:link{
      color: var(--main-white);
    }